include *.py
include *.txt
include buildout.cfg
recursive-include src *.po
recursive-include src *.mo
recursive-include src *.pot
recursive-include src *.pt
recursive-include src *.txt
recursive-include src *.zcml
