include *.py
include *.txt
include *.rst
include .coveragerc
include tox.ini
include buildout.cfg
recursive-include src *.po
recursive-include src *.mo
recursive-include src *.pot
recursive-include src *.pt
recursive-include src *.rst
recursive-include src *.zcml
